*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}
.container{
  width: 702px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.box{
  width: 702px;
  height: 700px;
  border: 1px solid black;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  
}
.cell{
  width: 70px;
  height: 70px;
  border: 1px solid black;
  text-align: center;
  line-height: 70px;
  font-size: 20px;
}

button{
  padding: 10px 20px;
}